<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>listener</key>
		<string>64</string>
		<key>isFree</key>
		<string>1</string>
		<key>iconURL</key>
		<string>张译</string>
		<key>askerDesc</key>
		<string>Cat + demobilized officers + Movie / TV actor</string>
		<key>askerName</key>
		<string>Zhang yi</string>
		<key>question</key>
		<string>As a star why would choose to answer this platform? Is there a fee for you? How high? On what charges?</string>
	</dict>
	<dict>
		<key>listener</key>
		<string>32</string>
		<key>isFree</key>
		<string>0</string>
		<key>iconURL</key>
		<string>杨紫</string>
		<key>askerDesc</key>
		<string>The grass root / soil round</string>
		<key>askerName</key>
		<string>Qiu Yingying</string>
		<key>question</key>
		<string>&quot;Ode to joy&quot; scraper, has a good reputation, in addition to play forcibly implanted narrator, from everywhere, a lot of people love songs, love Andy, fell in love with the old Tan, fell in love with the Fan Shengmei, but alone to here Yang Zi played Qiu Yingying, state of sharp, have open hand tore Qiu Yingying mode.</string>
	</dict>
	<dict>
		<key>listener</key>
		<string>32</string>
		<key>isFree</key>
		<string>0</string>
		<key>iconURL</key>
		<string>杨紫</string>
		<key>askerDesc</key>
		<string>The grass root / soil round</string>
		<key>askerName</key>
		<string>Qiu Yingying</string>
		<key>question</key>
		<string>&quot;Ode to joy&quot; scraper, has a good reputation, in addition to play forcibly implanted narrator, from everywhere, a lot of people love songs, love Andy, fell in love with the old Tan, fell in love with the Fan Shengmei, but alone to here Yang Zi played Qiu Yingying, state of sharp, have open hand tore Qiu Yingying mode.</string>
	</dict>
	<dict>
		<key>listener</key>
		<string>32</string>
		<key>isFree</key>
		<string>0</string>
		<key>iconURL</key>
		<string>杨紫</string>
		<key>askerDesc</key>
		<string>The grass root / soil round</string>
		<key>askerName</key>
		<string>Qiu Yingying</string>
		<key>question</key>
		<string>&quot;Ode to joy&quot; scraper, has a good reputation, in addition to play forcibly implanted narrator, from everywhere, a lot of people love songs, love Andy, fell in love with the old Tan, fell in love with the Fan Shengmei, but alone to here Yang Zi played Qiu Yingying, state of sharp, have open hand tore Qiu Yingying mode.</string>
	</dict>
	<dict>
		<key>listener</key>
		<string>32</string>
		<key>isFree</key>
		<string>0</string>
		<key>iconURL</key>
		<string>杨紫</string>
		<key>askerDesc</key>
		<string>The grass root / soil round</string>
		<key>askerName</key>
		<string>Qiu Yingying</string>
		<key>question</key>
		<string>&quot;Ode to joy&quot; scraper, has a good reputation, in addition to play forcibly implanted narrator, from everywhere, a lot of people love songs, love Andy, fell in love with the old Tan, fell in love with the Fan Shengmei, but alone to here Yang Zi played Qiu Yingying, state of sharp, have open hand tore Qiu Yingying mode.</string>
	</dict>
	<dict>
		<key>listener</key>
		<string>32</string>
		<key>isFree</key>
		<string>0</string>
		<key>iconURL</key>
		<string>杨紫</string>
		<key>askerDesc</key>
		<string>The grass root / soil round</string>
		<key>askerName</key>
		<string>Qiu Yingying</string>
		<key>question</key>
		<string>&quot;Ode to joy&quot; scraper, has a good reputation, in addition to play forcibly implanted narrator, from everywhere, a lot of people love songs, love Andy, fell in love with the old Tan, fell in love with the Fan Shengmei, but alone to here Yang Zi played Qiu Yingying, state of sharp, have open hand tore Qiu Yingying mode.</string>
	</dict>
	<dict>
		<key>listener</key>
		<string>32</string>
		<key>isFree</key>
		<string>0</string>
		<key>iconURL</key>
		<string>杨紫</string>
		<key>askerDesc</key>
		<string>The grass root / soil round</string>
		<key>askerName</key>
		<string>Qiu Yingying</string>
		<key>question</key>
		<string>&quot;Ode to joy&quot; scraper, has a good reputation, in addition to play forcibly implanted narrator, from everywhere, a lot of people love songs, love Andy, fell in love with the old Tan, fell in love with the Fan Shengmei, but alone to here Yang Zi played Qiu Yingying, state of sharp, have open hand tore Qiu Yingying mode.</string>
	</dict>
</array>
</plist>
