<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>soloask.listen1</string>
	<string>soloask.listen2</string>
	<string>soloask.listen3</string>
	<string>soloask.listen4</string>
</array>
</plist>
